.themify_builder_content-44 .tb_ktsc223.module-tab.ui {margin-bottom: 0px;}
.themify_builder_content-44 .tb_ck83803.module-text {padding-top: 5px;padding-bottom: 10px;border-top: 1px solid rgba(219,219,219,1);}
.themify_builder_content-44 .tb_op52288.module-text {padding-top: 5px;padding-bottom: 10px;border-top: 1px solid rgba(219,219,219,1);}